{{!-- Sidebar right --}}
<div class="sidebar show-on-medium-screen">

  {{!-- Add your content here --}}
  <div class="card">
    <div class="title">Links</div>
    <ul>
        <li><a href="http://caelum.com.br">Caelum</a></li>
        <li><a href="http://alura.com.br">Alura</a></li>
        <li><a href="http://casadocodigo.com.br">Casa do Código</a></li>
    </ul>
  </div>

</div>
