{{!-- Sidebar right --}}
<div class="sidebar show-on-medium-screen">

  {{!-- Add your content here --}}
    <div class="card">
    <div class="title">Meus posts em outros lugares</div>
    <ul>
        <li><a href="http://blog.alura.com.br/pequenos-ajustes-grandes-mudancas/">Pequenos ajustes, grandes mudanças! (Blog do Alura)</a></li>
        <li><a href="http://blog.caelum.com.br/entendendo-o-lazy-e-o-eager-load-da-jpa/">Entendendo o Lazy e o Eager Load da JPA (Blog da Caelum)</a></li>
    </ul>
  </div>
  
  <div class="card">
    <div class="title">Links</div>
    <ul>
        <li><a href="http://soulwebdesign.com.br">Soul Web Design</a></li>
        <li><a href="http://caelum.com.br">Caelum</a></li>
        <li><a href="http://alura.com.br">Alura</a></li>
        <li><a href="http://casadocodigo.com.br">Casa do Código</a></li>
        <li><a href="http://galandra.com.br">Galandra</a></li>
    </ul>
  </div>

</div>
