{{!-- Sidebar right --}}
<div class="sidebar show-on-medium-screen">

  {{!-- Add your content here --}}
  <div class="card">
    <div class="title">Links</div>
    <a href="http://caelum.com.br">Caelum</a>
    <a href="http://alura.com.br">Alura</a>
    <a href="http://casadocodigo.com.br">Casa do Código</a>
  </div>

</div>
